h1{
    color: rgb(92, 73, 161);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(126, 27, 27);
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
footer{
    width: 200px;
    height: 50px;
}

.antet{
    display:flex;
    width: 100%;
    padding: 15px;
}

.logo{
    float:left;
    width:20%;
}

.motto{
    float:left;
    width: 50%;
    justify-content: space-around;
}

.meniu {
    width: 30%;
    float:right;
    margin-top: 50px;
    justify-content: space-between;
}
nav a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px ;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(27, 31, 34);
    border: 3px solid rgb(121, 121, 184);
    border-radius: 10px;
    background-color: rgb(230, 216, 225);
}
.LaMare{
    border:5px solid rgb(241, 238, 11);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
